{% extends 'portfolio/base.html' %}

{% block content %}

<h6>About Me</h6>
<br>
<p>I am a student of Palawan State Univeristy, under the College of Sciences, taking the course Bachelor of Science in Information Technology. I am an aspiring network administrator and back-end developer. I have a strong passion for technology and a deep interest in the intricate workings of computer networks and web applications.</p>
<p>As a network administrator, I am fascinated by the complexities of configuring and managing networks. I am dedicated to ensuring smooth communication and data transfer by implementing robust security measures, optimizing network performance, and troubleshooting any issues that may arise.</p>   
<p>In addition to my network administration skills, I am also driven to excel in the field of back-end development. I enjoy working behind the scenes, crafting the logic and functionality that powers websites and web applications. I am proficient in programming languages such as Python, Java, and C#, and I am always eager to learn new frameworks and technologies to enhance my development skills.</p>
<p>I am a detail-oriented individual with strong problem-solving abilities. I thrive in dynamic environments where I can apply my technical expertise to overcome challenges and deliver efficient solutions. I am a quick learner and adaptable, always staying up-to-date with the latest industry trends and best practices.</p>

{% endblock content %}