{% extends 'portfolio/base.html' %} {% load static %}

{% block content %}

<h6>Contact Me</h6>
<p>You can contact me through my socials</p>
<div class="email">
    <div class="icon">
        <i class="bi-envelope"></i>
    </div>
    <div class="mail">
        <a href="mailto:xkiel019@gmail.com">Email</a>
    </div>
</div>
<div class="facebook">
    <div class="icon">
        <i class="bi-facebook"></i>
    </div>
    <div class="text">
        <a href="https://www.facebook.com/mgideont/">Facebook</a>
    </div>
</div>
<div class="github">
    <div class="icon">
        <i class="bi-github"></i>
    </div>
    <div class="text">
        <a href="https://github.com/kiel019">Github</a>
    </div>
</div>

{% endblock content %}