{% extends 'portfolio/base.html' %} {% load static %}

{% block content %}
    <h6>Aspiring Network Administrator</h6>
    <br>
    <p>As an aspiring network administrator, I will play a crucial role in managing and maintaining the networks that keep businesses and organizations connected. My expertise in configuring routers, switches, and firewalls will ensure seamless communication and data transfer.</p>
    <br>
    <h6>Aspiring Back-end Developer</h6>
    <br>
    <p>As an aspiring back-end developer, I will be the backbone of web applications, responsible for designing and implementing server-side logic. My skills in programming languages like Python, Java, and C# will enable you to build robust and efficient systems that power websites and web services.</p>
{% endblock content %}
